.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .slide {
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }  